Note-:
1.List is mutable object hence item assignment is possible
2.A built-in data type that stores set of values
3.It can store elements of different types (integer, float, string, etc.)

In [1]:
l1=["pratham",1,12,54,[22,32]]

In [ ]:
l1.ap

In [2]:
l1[4]

[22, 32]

In [3]:
l1[0]

'pratham'

In [4]:
l1[2:]

[12, 54, [22, 32]]

In [5]:
l1[::-1]

[[22, 32], 54, 12, 1, 'pratham']

In [6]:
s="sudh"

In [7]:
l1+s

TypeError: can only concatenate list (not "str") to list

In [10]:
print(list(s))

['s', 'u', 'd', 'h']

In [11]:
l1+list(s)

['pratham', 1, 12, 54, [22, 32], 's', 'u', 'd', 'h']

In [12]:
s=["sudh"]

In [13]:
l1+s

['pratham', 1, 12, 54, [22, 32], 'sudh']

In [24]:
l1*4

['pratham',
 1,
 12,
 54,
 [22, 32],
 'pratham',
 1,
 12,
 54,
 [22, 32],
 'pratham',
 1,
 12,
 54,
 [22, 32],
 'pratham',
 1,
 12,
 54,
 [22, 32]]

In [15]:
len(l1)

5

In [16]:
"pratham" in l1

True

In [17]:
65 in l1

False

In [18]:
l1=["pratham",1,12,54,[22,32]]

In [20]:
for i in l1:
    if type(i)==list:
        print("{} this is a list".format(i))
    else:
        print("{} is not a list".format(i))

pratham is not a list
1 is not a list
12 is not a list
54 is not a list
[22, 32] this is a list

In [27]:
max([1,2,3,4,5,6,7])

7

In [28]:
max(["ab","cd",7])

TypeError: '>' not supported between instances of 'int' and 'str'

In [39]:
max(["pratham","bisht","q"]) #beacuse ASCII value of Q-81 and q-113 so max is SMALL q

'q'

In [37]:
min(["a","dec","A"]) #beacuse ASCII value of A-65 and a-97 so min is CAPITAL A

'A'

In [54]:
l1=[1,2,3,4]

In [55]:
l1.append(5) #it will add at the end of the list

In [56]:
l1

[1, 2, 3, 4, 5]

In [57]:
l1.index(2) #Return first index of value

1

In [58]:
l1.insert(1,"pratham") #Insert object before index, syntax-->l1.insert(index, object)

In [59]:
l1

[1, 'pratham', 2, 3, 4, 5]

In [60]:
l1.remove(2) #Remove first occurrence of value

In [61]:
l1

[1, 'pratham', 3, 4, 5]

In [62]:
l1.insert(-1,"ayush")

In [63]:
l1 #previously 5 was at -1 position so insert will add "ayush" before 5

[1, 'pratham', 3, 4, 'ayush', 5]

In [64]:
l1.append(2)

In [65]:
l1.count(2) #Return number of occurrences of value

1

In [66]:
l=[1,2,3,4]
s="test"
l+list(s)

[1, 2, 3, 4, 't', 'e', 's', 't']

In [67]:
l.extend(s) #Extend list by appending elements from the iterable means add at the end char by char

In [68]:
l

[1, 2, 3, 4, 't', 'e', 's', 't']

In [69]:
l.append(s)

In [70]:
l=l+l
print(l)

[1, 2, 3, 4, 't', 'e', 's', 't', 'test', 1, 2, 3, 4, 't', 'e', 's', 't', 'test']

In [71]:
l.index(2) #Return first index of value

1

In [72]:
l.pop() #Remove and return item at index (default last)

'test'

In [73]:
l

[1, 2, 3, 4, 't', 'e', 's', 't', 'test', 1, 2, 3, 4, 't', 'e', 's', 't']

In [74]:
l1=[1,8,12,2]

In [75]:
l1.reverse() #Reverse *IN PLACE*

In [76]:
l1

[2, 12, 8, 1]

In [77]:
l1.sort() #Sort the list in ascending order and return None

In [78]:
l1

[1, 2, 8, 12]

In [9]:
list1=[[1,2.3],"hello",["pra",50.2]]

Q1.Add 2 list and 1 complex no in between the list1

In [10]:
list1.insert(1,[5,6])
list1.insert(-1,["bisht","hi"])
list1.insert(3,55+6j)

In [11]:
list1

[[1, 2.3], [5, 6], 'hello', (55+6j), ['bisht', 'hi'], ['pra', 50.2]]

Q2.if your nested list contains string then find its index in nested list and print it then remove the string

In [12]:
for i in list1:
    if type(i)==list:
        j=0
        while j<len(i):
            if type(i[j])==str:
                print("index of string {} is {}".format(i[j],j))
            j=j+1
            
        j=0
        while j<len(i):
            if type(i[j])==str:
                print("the string removed from nested loop is {}".format(i[j]))
                i.remove(i[j])
                continue
            
            j=j+1

index of string bisht is 0
index of string hi is 1
the string removed from nested loop is bisht
the string removed from nested loop is hi
index of string pra is 0
the string removed from nested loop is pra

In [7]:
list1

[[1, 2.3], [5, 6], 'hello', (55+6j), [], [50.2]]

Q3.extract 2nd element of each nested list

In [13]:
for i in list1:
    if type(i)==list:
        if(len(i)==2):
            print(i[1])

2.3
6

In [14]:
l=[1,2,3,4,5]

In [15]:
l1=[]

In [16]:
for i in "pratham":
    l1.append(i)

In [17]:
l1

['p', 'r', 'a', 't', 'h', 'a', 'm']

In [18]:
#list comprehension operation
[i for i in "sudh"]

['s', 'u', 'd', 'h']

In [19]:
[[i] for i in "sudh"]

[['s'], ['u'], ['d'], ['h']]

In [20]:
l=[]
for i in range(10):
    if(i%2==0):
        l.append(i)
print(l)

[0, 2, 4, 6, 8]

In [23]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [24]:
["even" if i%2==0 else "odd" for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [25]:
mat=[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
print(mat)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [26]:
[[j for j in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]