In [ ]:
a=10
print(a)

In [1]:
a=10

In [2]:
a

10

In [3]:
a,b=10,20

In [6]:
a,b

(10, 20)

In [10]:
print(a,b)

10 20/n

In [11]:
c=10

In [12]:
c

10

In [19]:
2c=1

SyntaxError: invalid decimal literal (1227585855.py, line 1)

In [25]:
_p=20

In [26]:
_p

20

In [27]:
p2=1

In [28]:
p2

1

In [29]:
a,b,c="Pratham",10,52.5

In [33]:
print(type(a),type(b),type(c))

<class 'str'> <class 'int'> <class 'float'>

In [34]:
b*=10

In [36]:
b*

SyntaxError: invalid syntax (305774431.py, line 1)

In [37]:
b_=10

In [38]:
b_

10

In [39]:
a=True

In [40]:
a

True

In [41]:
type(a)

bool

False=0 , True=1

In [47]:
print(True+True+True+False+True)
print(False-True+True)

4
0

In [60]:
n=45+6j
m=56+8j

In [63]:
type(n)
type(m)

complex

In [64]:
n*m

(2472+696j)

In [66]:
print(n,m)

(45+6j) (56+8j)

In [51]:
n.real

45.0

In [52]:
n.imag

6.0

we cannot concatinate 2 different datatypes like int and string in the below case so we have to use type casting

In [108]:
1+"pratham"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [111]:
str(1)+"pratham"

'1pratham'

In [71]:
"1"+"pratham"

'1pratham'

In [72]:
1+1.0

2.0

In [73]:
"pra"+"pra"

'prapra'

In [74]:
"pra"*2

'prapra'

In [3]:
int('23')

23

In [77]:
int("23fs")

ValueError: invalid literal for int() with base 10: '23fs'

In [80]:
a=input()

pb

In [81]:
a

'pb'

In [82]:
type(a)

str

In [83]:
a=input("this is my no ")

this is my no 25

In [85]:
a+25 #this gives error because input() always gives output as string

TypeError: can only concatenate str (not "int") to str

In [84]:
a

'25'

In [87]:
a=int(input("enter a no "))
b=int(input("enter a no "))
c=int(input("enter a no "))

enter a no 45
enter a no 55
enter a no 65

In [88]:
o=a+b/c

In [90]:
print(o)

45.84615384615385

In [97]:
o1= o + 22 + 6j

In [98]:
print(o1)

(67.84615384615384+6j)

In [103]:
type(o1)

complex

In [105]:
o1+"pratham"

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

In [109]:
str(o1)+"pratham"

'(67.84615384615384+6j)pratham'

In [124]:
a=int(input("enter a no "))
if a<34:  # if we don't want to write body then we use pass
    pass
    
print("run")

enter a no 55
run

In [1]:
a=int(input("enter a no "))
if a<34:
    print("less than 34")
    
elif(a==34):
    print("it is 34")
    
else:
    print("greater than 34")

enter a no 54
greater than 34

In [5]:
first=input("enter first name ")
last=input("enter last name ")
if(first=="pratham" and last=="bisht"):
    print("true")
else:
    print("false")

enter first name pratham
enter last name Bisht
false