In [1]:
# while-else condition only exists in python
note=5
i=1
while(i<note):
    print(i)
    i+=1
else:
    print("done")

1
2
3
4
done

In [2]:
a="pratham"

In [3]:
a

'pratham'

In [4]:
type(a)

str

In [5]:
a[1]

'r'

In [6]:
len(a)

7

In [7]:
name="my name is pratham"

In [8]:
name

'my name is pratham'

In [9]:
name[3:12]

'name is p'

In [10]:
name[13:2:-1]

'arp si eman'

In [11]:
name[::-1] #string reversal

'mahtarp si eman ym'

In [12]:
name[2:-6]

' name is p'

In [13]:
for i in name:
    print(i)

m
y

n
a
m
e

i
s

p
r
a
t
h
a
m

In [14]:
for i in name:
    if (i=='n'):
        break
    print(i)

m
y

In [15]:
for i in name:
    if (i=='n'):
        continue #it will skip 'n' and will redirect to loop from next point ie 'a' in above case
    print(i)

m
y

a
m
e

i
s

p
r
a
t
h
a
m

In [16]:
n=7
for i in range (0,n):
    for j in range (0,i+1):
        print("+ ",end="")
    print("\r") #or print("")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [17]:
n=5
cst=1
csp=n-1
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end='')
    for j in range(2*i-1):
        print("*",end='')
    print()

    *
   ***
  *****
 *******
*********

In [18]:
n=5
row=1
tst=2*n-1
tsp=0
while(row<=n):
    csp=0
    while(csp<tsp):
        print(' ',end="")
        csp+=1
        
    
    cst=0
    while(cst<tst):
        print("*",end="")
        cst+=1
    print()
    tst-=2
    tsp+=1
    row+=1

*********
 *******
  *****
   ***
    *

NOTE-:
1.List is mutable object hence it support item assignment

In [19]:
l1=[20,"pratham",6+45j,45.5,[3,4,"asdc"],True]

In [20]:
l1[0:4]

[20, 'pratham', (6+45j), 45.5]

In [21]:
l1

[20, 'pratham', (6+45j), 45.5, [3, 4, 'asdc'], True]

In [22]:
type(l1)

list

In [23]:
len(l1)

6

In [24]:
for i in l1:
    print(i,type(i),sep="\t")

20	<class 'int'>
pratham	<class 'str'>
(6+45j)	<class 'complex'>
45.5	<class 'float'>
[3, 4, 'asdc']	<class 'list'>
True	<class 'bool'>

In [25]:
for i in l1:
    if type(i)==list:
        for j in i:
            if type(j)==int:
                continue
            print(j)

asdc

In [26]:
range(5)

range(0, 5)

In [27]:
list(range(7,2,-1))

[7, 6, 5, 4, 3]

In [28]:
list(range(5))

[0, 1, 2, 3, 4]