 NOTE-:
 1.String is a immutable object hence it does not support item assignment

In [2]:
a="prath"am"

SyntaxError: unterminated string literal (detected at line 1) (2427728214.py, line 1)

In [3]:
a="prath'am"

In [4]:
a

"prath'am"

In [5]:
b='bis'ht'

SyntaxError: unterminated string literal (detected at line 1) (3294942975.py, line 1)

In [6]:
b='bis"ht'

In [7]:
b

'bis"ht'

In [8]:
str1="hello everybody"

In [9]:
for i in range(len(str1)):
    print(str1[i])

h
e
l
l
o

e
v
e
r
y
b
o
d
y

In [10]:
str1[1]="p"  #error because string is immutable

TypeError: 'str' object does not support item assignment

In [11]:
"pratham" + " bisht"

'pratham bisht'

In [12]:
"pratham" + 3

TypeError: can only concatenate str (not "int") to str

In [13]:
str(1) +" pratham"

'1 pratham'

In [14]:
"pratham" + [1,2,"bisht"]

TypeError: can only concatenate str (not "list") to str

In [15]:
"pratham"*4

'prathamprathamprathampratham'

In [16]:
s="my name is name"

In [17]:
s.find('m') #give index of first occurence of 'm' ie 0

0

In [18]:
s.find('mn')

-1

In [19]:
b=s.find('name') 
for i in range(len("name")):
    print(b+i)

3
4
5
6

In [20]:
 s.count('m') #count all occurence of substring 'm' in the string

3

In [21]:
s.count("name")

2

In [22]:
s.split()  #split all substring acc to whitespace in a list of string

['my', 'name', 'is', 'name']

In [23]:
str2="hello mate. how are you.what u upto today"

In [24]:
str2.split('.') #it has split the string on the basis of (.)

['hello mate', ' how are you', 'what u upto today']

In [25]:
str2.split('o')

['hell', ' mate. h', 'w are y', 'u.what u upt', ' t', 'day']

In [26]:
type(str2.split('o'))

list

In [27]:
a="pratham how are you"

In [28]:
a.upper() #convert all lowercase char to uppercase

'PRATHAM HOW ARE YOU'

In [29]:
a.lower() #convert all uppercase char to lowercase

'pratham how are you'

In [30]:
b="HELLO guys"

In [31]:
b.swapcase() #convert all uppercase into lowercase and all lowercase into uppercase

'hello GUYS'

In [32]:
" ".join(b)

'H E L L O   g u y s'

In [33]:
"#".join(b) #will add # between every character of String b

'H#E#L#L#O# #g#u#y#s'

In [34]:
b[::-1] #reverse

'syug OLLEH'

In [35]:
c=list(reversed(b))

In [36]:
print(c)

['s', 'y', 'u', 'g', ' ', 'O', 'L', 'L', 'E', 'H']

In [37]:
c=reversed(b)

In [38]:
c

In [39]:
output="".join(c)
print(output)

syug OLLEH

In [40]:
#string is reversed
for i in c:
    print(i)

In [41]:
d="    prath am    "

In [42]:
d.strip() #it will remove all space from extreme left and extreme right of the string

'prath am'

In [43]:
d.lstrip()

'prath am    '

In [44]:
d.rstrip()

'    prath am'

In [45]:
s="hello everyone"

 s.replace('o','i') #will replace all occurence of 'o' with 'i'

In [46]:
'''we have replaced 'o' with 'i' but still our string remains the same this is because string is immutable 
so we have to store changes in new variable'''
s

'hello everyone'

In [47]:
s= s.replace('o','i') #now internally new s variable is formed and cursor will now point to updated string

In [48]:
s

'helli everyine'

In [49]:
s="pratham"

In [50]:
s.center(23,'@')

'@@@@@@@@pratham@@@@@@@@'

In [51]:
s="prath\tam\tbisht"

In [52]:
s.expandtabs()

'prath   am      bisht'

In [53]:
a="we all are a part of Full Stack"

Q1.normalize all the string in lower case

In [54]:
a.lower()

'we all are a part of full stack'

Q2.find all occurence of 'a' in the entire string

In [55]:
a.count('a')

5

In [56]:
len(a)

31

Q3.find all the index of 'a' in string

In [57]:
for i in range(len(a)):
    if (a[i]=='a'):
        print(i)

3
7
11
14
28

Q4.replace all 'a' with 'p' in the string

In [58]:
a.replace('a','p')

'we pll pre p pprt of Full Stpck'

Q5.print all the words as a list

In [59]:
a.split()

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [60]:
s="sudh"

In [61]:
print(s.isupper())
print(s.islower())

False
True

In [62]:
s="SUDH"

In [63]:
print(s.isupper())
print(s.islower())

True
False

In [64]:
s="    sudh"

In [65]:
s.isspace()

False

In [66]:
s=" "

In [67]:
s.isspace()

True

In [68]:
s="1234"

In [69]:
s.isdigit()

True

In [70]:
s="sudhs"

In [71]:
s.endswith('s')

True

In [72]:
s.startswith('a')

False

In [73]:
s="12345werty"

In [74]:
s.isalnum()

True

In [75]:
s.isalpha()

False

In [76]:
s.istitle() #first char should be in uppercase

False

In [77]:
word="wisdom"
vowel="AaEeIiOoUu"
for i in word:
    if i in vowel:
        print("{} is a vowel".format(i))
        
    else:
        print("{} is not a vowel".format(i))

w is not a vowel
i is a vowel
s is not a vowel
d is not a vowel
o is a vowel
m is not a vowel

In [78]:
a=input()
b=input()
print("my name is {} {}".format(a,b))

pratham
bisht
my name is pratham bisht