Note-:
Tuple is a built-in data type that lets us create immutable sequences of values.

In [117]:
t=()

In [118]:
type(t)

tuple

In [119]:
t1=(234,34,"sudh",3.45,True,34)

In [120]:
t1

(234, 34, 'sudh', 3.45, True, 34)

In [121]:
t1[0:len(t1)]

(234, 34, 'sudh', 3.45, True, 34)

In [122]:
t1[0:2]

(234, 34)

In [123]:
t1[::-1]

(34, True, 3.45, 'sudh', 34, 234)

In [124]:
t1[0]=5

TypeError: 'tuple' object does not support item assignment

In [125]:
t1

(234, 34, 'sudh', 3.45, True, 34)

In [126]:
t2=(55,12)

In [127]:
t1+t2

(234, 34, 'sudh', 3.45, True, 34, 55, 12)

In [128]:
t1*2

(234, 34, 'sudh', 3.45, True, 34, 234, 34, 'sudh', 3.45, True, 34)

In [129]:
34 in t1

True

In [130]:
88 in t1

False

In [131]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [132]:
t3=(1,2,3)

In [133]:
max(t3)

3

In [134]:
min(t3)

1

In [135]:
t4=("pratham","bisht","hello")

In [136]:
max(t4)

'pratham'

In [137]:
t1

(234, 34, 'sudh', 3.45, True, 34)

In [138]:
t1.index(34) #Return first index of value

1

In [139]:
 t1.count(34) #Return number of occurrences of value

2

In [140]:
t1

(234, 34, 'sudh', 3.45, True, 34)

In [141]:
l1=list(t1)

In [142]:
l1

[234, 34, 'sudh', 3.45, True, 34]

In [143]:
l1.insert(4,"pratham")

In [144]:
t1=tuple(l1)

In [145]:
t1

(234, 34, 'sudh', 3.45, 'pratham', True, 34)

In [146]:
t=((3,4,5,6,7),("Pratham",55,88),("Hello",65.2,0),10,"nope")

In [147]:
t

((3, 4, 5, 6, 7), ('Pratham', 55, 88), ('Hello', 65.2, 0), 10, 'nope')

In [148]:
t[2][::-1]

(0, 65.2, 'Hello')

In [149]:
t1

(234, 34, 'sudh', 3.45, 'pratham', True, 34)

In [150]:
t2

(55, 12)

In [151]:
if len(t1)==len(t2):
    print("equal")
else:
    print("not equal")

not equal

In [152]:
del(t2) #tuple t2 will be deleted

In [153]:
t2 #t2 is not defined because we have deleted it

NameError: name 't2' is not defined